/*
const DOWNLOAD_BUTTON_ID = "download_button_ans_archiver";
const PROGRESS_ELEMENT_ID = "download_progress_ans_archiver";
*/

#download_button_ans_archiver {
    anchor-name: --ans-archiver;
}

#download_progress_ans_archiver {
    position-anchor: --ans-archiver;
    position: absolute;
    position-area: bottom span-all;
    border-color: green;
}

div#download_progress_ans_archiver > ul {
    list-style-position: inside;
}
div#download_progress_ans_archiver > ul > li {
    display: list-item;
}
